
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.title {
  text-align: center;
  font-weight: bold;
}

.navbar {
  height: 100px;
  font-size: 18px;
}

.nav-item {
  padding: 0 10px;
}

.navbar-brand {
  padding-right: 30px;
}


